.example-full-width {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.own-mat-button {
    display: block !important;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
}

td {
    min-height: 200px;
}

.mat-row {
    height: auto;
  }
  
.mat-cell {
padding: 8px 8px 8px 0;
}